@use "reset";
@use "variable" as v;
@use "sass:list";
@use "sass:color";

@mixin icon($s: 40px) {
    display: flex;
    background: v.$text;
    color: v.$textlight;
    width: 3 * v.$space;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

html {
    background: v.$text; //on lit v.$main qui est dans le fichier "variables"
    color: v.$secondary;
    font-family: poppins, sans-serif;
    font-size: px;
    a {
        text-decoration: none;
        color: inherit;
    }
    p {
        margin-bottom: 2rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

body {
    line-height: 2;
    > header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 50;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 2 * v.$space;
        text-transform: uppercase;
        background-color: v.$secondary;

        h1 {
            color: v.$textlight;
        }

        nav {
            display: flex;
            flex-direction: row;
            align-items: center;

            ul {
                display: flex;
                flex-direction: row;
                gap: v.$space;
                list-style: none;

                li {
                    margin: 0;
                    padding: 0;

                    a {
                        color: v.$textdark;
                        transition: color 0.3s ease;

                        &:hover {
                            color: v.$main;
                        }
                    }
                }
            }
        }
    }
}

#intro {
    background: url("img/banner2.jpg") no-repeat 50% 50% / cover;
    padding: 28vh 15%;
    position: relative;
    h1 {
        font-size: 4rem;
        text-align: center;
        color: v.$textlight;
    }
    p {
        font-size: 1.5rem;
        text-align: center;
        color: v.$textlight;
    }
}

main {
    padding: 5% 15%;
    background:
        linear-gradient(rgba(v.$textlight, 0.95), rgba(v.$textlight, 0.95)),
        url("img/bg.jpg") no-repeat 50% 50% / cover;

    h1 {
        font-size: 2.5rem;
        color: v.$secondary;
        text-align: center;
    }

    p {
        font-size: 1.2rem;
        color: v.$textdark;
        text-align: center;
    }

    div {
        display: grid;
        grid-template-columns: repeat(3, 4fr);
        gap: 2 * v.$space;

        article {
            width: 100%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            overflow: hidden;
            background: v.$textlight;
            padding: 5 * v.$space;

            img {
                display: block;
                margin: 1rem auto;
                max-width: 60%;
                height: auto;
            }

            // Style pour les SVG et icônes
            i,
            svg {
                display: block;
                margin: 1rem auto;
                color: v.$main; // Couleur rouge pour les icônes
                font-size: 2.5rem; // Taille pour Font Awesome
                fill: currentColor; // Pour SVG inline
            }

            h1 {
                font-size: 1rem;
                margin: v.$space;
                color: v.$secondary;
            }

            p {
                font-size: 0.8rem;
                margin: v.$space;
                color: v.$textdark;
            }
        }
    }
}

article.cta {
    background:
        linear-gradient(rgba(v.$main, 0.3), rgba(v.$main, 0.3)),
        url("img/cta01.jpg") no-repeat 50% 50% / cover;
    padding: 34vh 15%;
    position: relative;
    h1 {
        font-size: 2.5rem;
        font-weight: 400;
        text-align: center;
        color: v.$textlight;
    }
    p {
        font-size: 1.5rem;
        font-weight: 400;
        text-align: center;
        color: v.$textlight;
    }
}

footer {
    background-color: v.$secondary;
    color: v.$textlight;
    text-align: center;
    padding: 2 * v.$space;
    div {
        display: flex;
        flex-direction: row;
        padding: 25vh 5%;
        border-bottom: 1px solid color.adjust(v.$textlight);
        gap: 6 * v.$space;

        #social {
            ul {
                i.fa-brand {
                    @include icon(30px);
                }
            }
        }

        article {
            width: 35%;
            text-align: left;

            h1 {
                margin-bottom: v.$space;
            }

            p {
                font-size: 0.9rem;
                line-height: 1.5;
            }
        }
    }
}
