@use 'sass:list';
/* colors */

$main : #ce1b28;
$secondary : #111111;

$text: #ffffff;  // Définition de la variable text manquante
$textdark: #555555;
$textlight: #ffffff;

$line: 2px;
$space: 10px;